html, body, .ng-scope, .container-fluid, .row {
  height: 100%;
  width: 100%;
}

#header{
  width: 100%;
  padding: 2rem;
  background-color: whitesmoke;
  height: 100%;
}


#body{
  background-color: #eaffeb;
  height: 100%;
  width: 100%;
  box-shadow: -5px -5px 25px 2px lightgrey;
  padding: 0;
}

#pic{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#pic h4, #pic h5{
  font-size: 200%;
  text-align: center;
}

#name{
  font-size: 330%;
  text-align: center;
}

#social{
  display: flex;
  flex-direction: row;
}

#social a{
  display: flex;
  justify-content: center;
  margin-right: 1rem;
}

#home{
  /*display: flex;
  flex-direction: column;*/
  height: 93%;
  text-align: center;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.row{
  margin: 0;
}

.ion-social-github{

}

.box{
  margin: .4rem;
  padding: .8rem;
  box-shadow: 5px 5px 25px 2px lightgrey;
  background-color: white;
  /*box-shadow: inset 1px -1px 1px 1px black, 5px 5px 25px 2px lightgrey;*/
}

.skill{
  display: inline-block;
}

.navbar{
}

.navbar-nav{
  flex-direction: row;
}

.navbar-nav li{
  margin-left: 1rem;
}

.project{
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  border: solid 1px;
  background-position: center;
  background-repeat: no-repeat;
}

.project img{
  width: 100%;
  /*height: 250px;*/
}

.project:first-of-type img{
  /*height: 250px;*/
}

.description{
  visibility: hidden;
  background-color: rgba(181, 184, 188, .5);
  width: 100%;
  height: 100%;
}

#jams{
  background-image: url('../images/blocjams.png');
}

#jams:hover .description{
  visibility: visible;
}

#pixl{
  background-image: url('../images/pixl.png');
  background-color: rgb(238,238,238);
}
#pixl:hover .description{
  visibility: visible;
}
#bloccit{
  background-image: url('../images/bloccit.png');
  background-color: white;
}
#bloccit:hover .description{
  visibility: visible;
}
#wiki{
  background-image: url('../images/wiki.png');
  background-color: white;
}
#wiki:hover .description{
  visibility: visible;
}
#peer{
  background-image: url('../images/peer.png');
  background-color: white;
  background-position: top;
}
#peer:hover .description{
  visibility: visible;
}

.line{
  margin: 1rem;
  margin-left: 10rem;
  margin-right: 10rem;
  border-top: solid 1px;
}
