<div class="container-fluid" id="home">
  <h1 class="display-2">Recent Projects</h1>
  <h1 class="display-3">Current</h1>
  <div class="project" id="peer">
    <h1 class="description">Peer Rate</h1>
    <p class="description">Peer Rate is a buying and selling service
    meant to help fight unsafe trading practices. This was built using
    Firebase and Angular. The site is a WIP, but the app will be available
    on iphones shortly.</p>
  </div>
  <div class="line">

  </div>
  <h1 class="display-3">Frontend</h1>
  <div class="project" id="jams">
    <h1 class="description">Bloc Jams</h1>
    <p class="description">Bloc Jams is a music streaming clone made so I
    can get a confident feel for Angular. This project was a great learning
    experince for myself, originally created with just vanilla HTML and
    CSS, eventually refractored with JQuery, then lastly refractored with
    Angular.</p>
  </div>
  <div class="project" id="pixl">
    <h1 class="description">Pix'l Chat</h1>
    <p class="description">Pix'l Chat is a basic chatting service that
    generates an avatar seeded by a user's nickname. Users are able to create
    their own public chatrooms, and send/recieve messages. This project was
    extremely fun to create using both Angular and Firebase. I plan to hopefully
    find some time to revisit it and polish it up some more.</p>
  </div>
  <div class="line">

  </div>
  <h1 class="display-3">Backend</h1>
  <div class="project" id="wiki">
    <h1 class="description">Rupypedia</h1>
    <p class="description">Rupypedia(as the name suggests, was made with Ruby on Rails)
    is currently my favorite project that i've completed. It is a Wikipedia
    clone in which users can create their own public Wiki pages, and others can
    collaborate on. Users can also pay to become a premium user. Premium users
    can create private wikis which nobody can collaborate on, unless the user is
    on the creators exclusive collaborator list. </p>
  </div>
  <div class="project" id="bloccit">
    <h1 class="description">Bloccit</h1>
    <p class="description">Bloccit is a reddit clone made with Ruby on Rails. It allows
    users to create topics, posts within the topics, and also create comments
    within the posts. Users can also upvote and downvote posts, so that only the top-rated and more
    recent posts are displayed approriatly on top of the topic's show page.</p>
  </div>



</div>
